$include /etc/.inputrc

# requires >= Bash 4.3
# note: the prompt will not be updated if you use a custom PS1 which contains a newline character

set editing-mode vi
set keymap vi-command
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[48;5;87m\e[1m\e[38;5;16m\2 INSERT \1\e[0m \2
set vi-cmd-mode-string \1\e[48;5;229m\e[1m\e[38;5;16m\2 NORMAL \1\e[0m \2
set keyseq-timeout 0

# if it's configured correctly, your prompt will be prefixed with a `+` while in insert mode and a `:` when in command mode.

set completion-ignore-case on
